<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="File" 
				name="logFile" 
				fileName="${var:TargetFolder:default=${basedir}}/Logs/${shortdate}.log" 
				layout="${time} ${uppercase:${level}} ${message}"        
				archiveOldFileOnStartup="true"
				archiveFileName="${var:TargetFolder:default=${basedir}}/Logs/Archive/${shortdate} {#}.log"
				archiveNumbering="Rolling"
				archiveAboveSize="5242880"
				maxArchiveFiles="5"
				archiveDateFormat="yyyyMMdd"/>
				
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logFile" />
	</rules>

</nlog>